# Hospital Analytics

## Objectives
1. Encounters Overview
- How many total encounters occurred each year?
- For each year, what percentage of all encounters belonged to each encounter class (ambulatory, outpatient, wellness, urgent care, emergency, and inpatient)?
- What percentage of encounters were over 24 hours versus under 24 hours?
2. Cost & Coverage Insights
- How many encounters had zero payer coverage, and what percentage of total encounters does this represent?
- What are the top 10 most frequent procedures performed and the average base cost for each?
- What are the top 10 procedures with the highest average base cost and the number of times they were performed?
- What is the average total claim cost for encounters, broken down by payer?
3. Patient Behavior Analysis
- How many unique patients were admitted each quarter over time?
- How many patients were readmitted within 30 days of a previous encounter?
- Which patients had the most readmissions?

## Connecting to SQL

In [1]:
%load_ext sql

In [2]:
#!pip install ipython-sql
#!pip install ipython-sql pymysql
#!pip install pymysql

In [3]:
%sql mysql+pymysql://root:***@localhost:3306/hospital_db

Connecting to 'mysql+pymysql://root:***@localhost:3306/hospital_db'

In [4]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

In [5]:
%sql SHOW TABLES;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

4 rows affected.

+-----------------------+
| Tables_in_hospital_db |
+-----------------------+
|       encounters      |
|        patients       |
|         payers        |
|       procedures      |
+-----------------------+

## 1. Encounters Overview
1a.) How many total encounters occurred each year?

In [6]:
%%sql
-- Encounters table overview
SELECT *
FROM encounters
LIMIT 3;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

3 rows affected.

+--------------------------------------+---------------------+---------------------+--------------------------------------+--------------------------------------+--------------------------------------+----------------+-----------+------------------------------------------------------------------+---------------------+------------------+----------------+------------+-------------------+
|                  id                  |        start        |         stop        |               patient                |             organization             |                payer                 | encounterclass |    code   |                           description                            | base_encounter_COST | total_claim_cost | payer_coverage | reasoncode | reasondescription |
+--------------------------------------+---------------------+---------------------+--------------------------------------+--------------------------------------+--------------------------------------+----------------+-----------+------------------------------------------------------------------+---------------------+------------------+----------------+------------+-------------------+
| 0002c38a-54e9-0788-930a-90900dce3612 | 2011-08-07 09:46:50 | 2011-08-07 10:01:50 | 5e129b38-3d63-3692-2a53-c2b56f9d8af0 | d78e84ec-30aa-3bba-a33a-f29a3a454662 | 6e2f1a2d-27bd-3701-8d08-dae202c58632 |   ambulatory   | 185349003 |                      Encounter for check-up                      |        85.55        |     10224.23     |    6936.92     |    None    |        None       |
| 00059b24-6473-ca4a-8795-7373d4ddc7e0 | 2021-07-15 08:58:01 | 2021-07-15 09:13:01 | 45b87421-394d-6654-4d81-6cb5b165e455 | d78e84ec-30aa-3bba-a33a-f29a3a454662 | 6e2f1a2d-27bd-3701-8d08-dae202c58632 |   outpatient   |  33879002 | Administration of vaccine to produce active immunity (procedure) |        142.58       |      278.58      |     152.69     |    None    |        None       |
| 00091c5b-f3a1-ee7b-88cc-850c746f8f58 | 2013-07-29 01:06:15 | 2013-07-29 01:21:15 | 1712d26d-822d-1e3a-2267-0a9dba31d7c8 | d78e84ec-30aa-3bba-a33a-f29a3a454662 | b1c428d6-4f07-31e0-90f0-68ffa6ff8c76 |   outpatient   | 185349003 |                Encounter for check up (procedure)                |        85.55        |      85.55       |      0.00      |    None    |        None       |
+--------------------------------------+---------------------+---------------------+--------------------------------------+--------------------------------------+--------------------------------------+----------------+-----------+------------------------------------------------------------------+---------------------+------------------+----------------+------------+-------------------+

In [7]:
%%sql
SELECT YEAR(START) AS year, COUNT(Id) AS total_encounters
FROM encounters
GROUP BY YEAR(START)
ORDER BY YEAR(START);

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

12 rows affected.

+------+------------------+
| year | total_encounters |
+------+------------------+
| 2011 |       1336       |
| 2012 |       2106       |
| 2013 |       2495       |
| 2014 |       3885       |
| 2015 |       2469       |
| 2016 |       2451       |
| 2017 |       2360       |
| 2018 |       2292       |
| 2019 |       2228       |
| 2020 |       2519       |
| 2021 |       3530       |
| 2022 |       220        |
+------+------------------+

### 1b. Percentage of encounters per class per year 
(ambulatory, outpatient, wellness, urgent care, emergency, and inpatient)?

In [8]:
%%sql
-- Using a CTE
WITH yearly AS (
    SELECT 
        YEAR(start) AS year,
        COUNT(id) AS year_encounters
    FROM encounters
    GROUP BY YEAR(start)
)
SELECT 
    YEAR(e.start) AS year,
    e.encounterclass,
    COUNT(e.id) AS total_encounters,
    y.year_encounters,
    ROUND(COUNT(e.id)/y.year_encounters * 100) AS pct
FROM encounters e
JOIN yearly y ON y.year = YEAR(e.start)
GROUP BY YEAR(e.start), e.encounterclass, y.year_encounters
ORDER BY year DESC
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

10 rows affected.

+------+----------------+------------------+-----------------+-----+
| year | encounterclass | total_encounters | year_encounters | pct |
+------+----------------+------------------+-----------------+-----+
| 2022 |   ambulatory   |       121        |       220       |  55 |
| 2022 |   emergency    |        18        |       220       |  8  |
| 2022 |   inpatient    |        4         |       220       |  2  |
| 2022 |   outpatient   |        37        |       220       |  17 |
| 2022 |   urgentcare   |        28        |       220       |  13 |
| 2022 |    wellness    |        12        |       220       |  5  |
| 2021 |   ambulatory   |       1303       |       3530      |  37 |
| 2021 |   emergency    |       221        |       3530      |  6  |
| 2021 |   inpatient    |        55        |       3530      |  2  |
| 2021 |   outpatient   |       1418       |       3530      |  40 |
+------+----------------+------------------+-----------------+-----+

### 1c.  Percentage of encounters over 24 hours versus under 24 hours

In [9]:
%%sql
WITH timeday AS (
    SELECT
        COUNT(*) AS total,
        SUM(CASE WHEN stop > start + INTERVAL 24 HOUR THEN 1 ELSE 0 END) AS greater_24,
        SUM(CASE WHEN stop <= start + INTERVAL 24 HOUR THEN 1 ELSE 0 END) AS less_24
    FROM encounters)
SELECT
	ROUND(greater_24/total * 100,2) AS pct_greater_24,
    ROUND(less_24/total * 100,2) AS pct_less_24
FROM timeday;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

1 rows affected.

+----------------+-------------+
| pct_greater_24 | pct_less_24 |
+----------------+-------------+
|      0.27      |    99.73    |
+----------------+-------------+

## 2. Cost & Coverage Insights
2a. Encounters with zero payer coverage, and percentage of the total.

In [10]:
%%sql
WITH zero AS (
    SELECT COUNT(*) AS total_encounters,
    	SUM(CASE WHEN PAYER_COVERAGE=0 THEN 1 ELSE 0 END) AS zero_payer
    FROM encounters)
SELECT *, 
ROUND(zero_payer/total_encounters*100,2) AS pct_zero_payer
FROM zero;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

1 rows affected.

+------------------+------------+----------------+
| total_encounters | zero_payer | pct_zero_payer |
+------------------+------------+----------------+
|      27891       |   13586    |     48.71      |
+------------------+------------+----------------+

### 2b. The top 10 most frequent procedures performed and the average base cost for each.

In [11]:
%%sql
SELECT 
	DESCRIPTION,
	COUNT(*) AS count_procedure,
    ROUND(AVG(BASE_COST),2) AS avg_base_cost
FROM procedures
GROUP BY DESCRIPTION
ORDER BY count_procedure DESC
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

10 rows affected.

+------------------------------------------------------------------------------------+-----------------+---------------+
|                                    DESCRIPTION                                     | count_procedure | avg_base_cost |
+------------------------------------------------------------------------------------+-----------------+---------------+
|               Assessment of health and social care needs (procedure)               |       4596      |     431.00    |
|                           Hospice care (regime/therapy)                            |       4098      |     431.00    |
|                          Depression screening (procedure)                          |       3614      |     431.00    |
| Depression screening using Patient Health Questionnaire Two-Item score (procedure) |       3614      |     431.00    |
|                      Assessment of substance use (procedure)                       |       2906      |     431.00    |
|                             Renal dialysis (procedure)                             |       2746      |    1004.09    |
|                   Assessment using Morse Fall Scale (procedure)                    |       2422      |     431.00    |
|                         Assessment of anxiety (procedure)                          |       2288      |     431.00    |
|                       Medication Reconciliation (procedure)                        |       2284      |     509.12    |
|                        Screening for drug abuse (procedure)                        |       1484      |     431.00    |
+------------------------------------------------------------------------------------+-----------------+---------------+

### 2c. The top 10 procedures with the highest average base cost and the number of times they were performed.

In [12]:
%%sql 
SELECT 
	DESCRIPTION,
    ROUND(AVG(BASE_COST),2) AS avg_base_cost,
    COUNT(*) AS count_procedure
FROM procedures
GROUP BY DESCRIPTION
ORDER BY avg_base_cost DESC
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

10 rows affected.

+---------------------------------------------------------------------------------+---------------+-----------------+
|                                   DESCRIPTION                                   | avg_base_cost | count_procedure |
+---------------------------------------------------------------------------------+---------------+-----------------+
|                             Admit to ICU (procedure)                            |   206260.40   |        5        |
|                         Coronary artery bypass grafting                         |    47085.89   |        9        |
|                         Lumpectomy of breast (procedure)                        |    29353.00   |        5        |
|                             Hemodialysis (procedure)                            |    29299.56   |        27       |
|        Insertion of biventricular implantable cardioverter defibrillator        |    27201.00   |        4        |
|                             Electrical cardioversion                            |    25903.11   |       1383      |
|                            Partial resection of colon                           |    25229.29   |        7        |
|                Fine needle aspiration biopsy of lung (procedure)                |    23141.00   |        1        |
| Percutaneous mechanical thrombectomy of portal vein using fluoroscopic guidance |    20228.04   |        57       |
|                        Percutaneous coronary intervention                       |    19728.00   |        9        |
+---------------------------------------------------------------------------------+---------------+-----------------+

### 2d. The average total claim cost for encounters, broken down by payer.

In [13]:
%%sql
SELECT 
	p.name AS payer_name,
    ROUND(AVG(e.TOTAL_CLAIM_COST),2) AS avg_total_claim_cost
FROM encounters AS e
	LEFT JOIN payers AS p
    ON e.PAYER = p.Id
GROUP BY p.name
ORDER BY avg_total_claim_cost DESC;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

10 rows affected.

+------------------------+----------------------+
|       payer_name       | avg_total_claim_cost |
+------------------------+----------------------+
|        Medicaid        |       6205.22        |
|      NO_INSURANCE      |       5593.20        |
|         Anthem         |       4236.81        |
|         Humana         |       3269.30        |
| Blue Cross Blue Shield |       3245.58        |
|      Cigna Health      |       2996.95        |
|    UnitedHealthcare    |       2848.34        |
|         Aetna          |       2767.05        |
|        Medicare        |       2167.55        |
|     Dual Eligible      |       1696.19        |
+------------------------+----------------------+

## 3. Patient Behavior Analysis
3a. Unique patients admitted each quarter over time

In [14]:
%%sql
SELECT 
    YEAR(start) AS year,
    COUNT(DISTINCT CASE WHEN QUARTER(start) = 1 THEN patient END) AS Q1,
    COUNT(DISTINCT CASE WHEN QUARTER(start) = 2 THEN patient END) AS Q2,
    COUNT(DISTINCT CASE WHEN QUARTER(start) = 3 THEN patient END) AS Q3,
    COUNT(DISTINCT CASE WHEN QUARTER(start) = 4 THEN patient END) AS Q4,
	COUNT(DISTINCT patient) AS unique_year_total
FROM encounters
WHERE ENCOUNTERCLASS = 'inpatient'
GROUP BY YEAR(start)
ORDER BY year;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

12 rows affected.

+------+----+----+----+----+-------------------+
| year | Q1 | Q2 | Q3 | Q4 | unique_year_total |
+------+----+----+----+----+-------------------+
| 2011 | 10 | 8  | 12 | 8  |         20        |
| 2012 | 10 | 11 | 10 | 16 |         35        |
| 2013 | 12 | 12 | 12 | 19 |         39        |
| 2014 | 13 | 15 | 16 | 20 |         48        |
| 2015 | 16 | 12 | 12 | 15 |         37        |
| 2016 | 8  | 13 | 10 | 15 |         33        |
| 2017 | 10 | 14 | 15 | 11 |         35        |
| 2018 | 8  | 11 | 14 | 11 |         36        |
| 2019 | 9  | 10 | 11 | 5  |         28        |
| 2020 | 7  | 9  | 15 | 19 |         47        |
| 2021 | 12 | 9  | 8  | 10 |         35        |
| 2022 | 3  | 0  | 0  | 0  |         3         |
+------+----+----+----+----+-------------------+

In each quarter, how many patients came in only that quarter (and never appeared in any other quarter of that year)

In [15]:
%%sql 
WITH patient_quarters AS ( -- Identify patient-quarter combination
    SELECT 
        patient,
        YEAR(start) AS yr,
        QUARTER(start) AS qtr
    FROM encounters
    WHERE ENCOUNTERCLASS = 'inpatient'
    GROUP BY patient, YEAR(start), QUARTER(start)
),
	patient_year_counts AS ( -- Count how many quarters each patient appears in per year
    SELECT 
        patient,
        yr,
        COUNT(DISTINCT qtr) AS quarters_in_year
    FROM patient_quarters
    GROUP BY patient, yr
),
	exclusive_patients AS ( -- Keep only patients who appear in exactly 1 quarter per year
    SELECT pq.patient, pq.yr, pq.qtr
    FROM patient_quarters pq
    JOIN patient_year_counts pyc
      ON pq.patient = pyc.patient AND pq.yr = pyc.yr
    WHERE pyc.quarters_in_year = 1
)
SELECT -- Count them per quarter/year
    yr AS Year,
    SUM(CASE WHEN qtr = 1 THEN 1 ELSE 0 END) AS Q1_Exclusive,
    SUM(CASE WHEN qtr = 2 THEN 1 ELSE 0 END) AS Q2_Exclusive,
    SUM(CASE WHEN qtr = 3 THEN 1 ELSE 0 END) AS Q3_Exclusive,
    SUM(CASE WHEN qtr = 4 THEN 1 ELSE 0 END) AS Q4_Exclusive
FROM exclusive_patients
GROUP BY yr
ORDER BY yr;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

12 rows affected.

+------+--------------+--------------+--------------+--------------+
| Year | Q1_Exclusive | Q2_Exclusive | Q3_Exclusive | Q4_Exclusive |
+------+--------------+--------------+--------------+--------------+
| 2011 |      4       |      1       |      5       |      3       |
| 2012 |      6       |      7       |      6       |      12      |
| 2013 |      4       |      5       |      7       |      12      |
| 2014 |      8       |      10      |      9       |      14      |
| 2015 |      8       |      6       |      7       |      8       |
| 2016 |      3       |      9       |      6       |      10      |
| 2017 |      6       |      9       |      7       |      5       |
| 2018 |      6       |      9       |      10      |      7       |
| 2019 |      6       |      6       |      8       |      4       |
| 2020 |      6       |      9       |      13      |      16      |
| 2021 |      11      |      7       |      7       |      7       |
| 2022 |      3       |      0       |      0       |      0       |
+------+--------------+--------------+--------------+--------------+

### 3b. Number of patients readmitted within 30 days of a previous encounter.
*definition:* A **readmission** occurs when a patient is admitted (START) within 30 days of discharge (STOP) from a previous admission.

In [16]:
%%sql
WITH ordered_encounters AS (
    SELECT 
        patient,
        start,
        stop,
        LAG(stop) OVER (PARTITION BY patient ORDER BY start) AS prev_stop
    FROM encounters
)
SELECT 
    COUNT(DISTINCT patient) AS unique_patients_readmitted_30d,
    COUNT(*) AS total_readmissions_30d
FROM ordered_encounters
WHERE prev_stop IS NOT NULL
  AND TIMESTAMPDIFF(DAY, prev_stop, start) < 30;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

1 rows affected.

+--------------------------------+------------------------+
| unique_patients_readmitted_30d | total_readmissions_30d |
+--------------------------------+------------------------+
|              773               |         17312          |
+--------------------------------+------------------------+

Identifying the name and id of the patients readmited in 30 days

In [17]:
%%sql
WITH ordered_encounters AS (
    SELECT 
        patient AS patient_id,
        start,
        stop,
        LAG(stop) OVER (PARTITION BY patient ORDER BY start) AS prev_stop
    FROM encounters
    WHERE ENCOUNTERCLASS = 'inpatient'   -- filter only admitted patients if that's your definition
)
SELECT 
    oe.patient_id,
    CONCAT(pt.prefix, " ", pt.`first`," ", pt.`last`) AS patient_full_name,
    oe.prev_stop AS previous_discharge,
    oe.start AS readmission_start,
    TIMESTAMPDIFF(DAY, oe.prev_stop, oe.start) AS days_since_discharge
FROM ordered_encounters AS oe
LEFT JOIN patients AS pt
ON oe.patient_id = pt.id
WHERE prev_stop IS NOT NULL
  AND TIMESTAMPDIFF(DAY, prev_stop, start) < 30
ORDER BY days_since_discharge DESC
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

10 rows affected.

+--------------------------------------+--------------------------+---------------------+---------------------+----------------------+
|              patient_id              |    patient_full_name     |  previous_discharge |  readmission_start  | days_since_discharge |
+--------------------------------------+--------------------------+---------------------+---------------------+----------------------+
| 49bc1d54-ed70-7ec5-02cb-76c178292427 | Mr. Kurtis994 Bartell116 | 2011-08-12 20:06:50 | 2011-09-11 00:23:50 |          29          |
| 283af64b-5b12-f971-6129-f638491a4a5b |  Mr. Olin642 Kerluke267  | 2016-05-03 00:49:20 | 2016-06-01 16:18:20 |          29          |
| 49bc1d54-ed70-7ec5-02cb-76c178292427 | Mr. Kurtis994 Bartell116 | 2012-12-03 13:17:50 | 2013-01-02 01:16:50 |          29          |
| 49bc1d54-ed70-7ec5-02cb-76c178292427 | Mr. Kurtis994 Bartell116 | 2012-05-26 17:03:50 | 2012-06-24 23:22:50 |          29          |
| 49bc1d54-ed70-7ec5-02cb-76c178292427 | Mr. Kurtis994 Bartell116 | 2012-04-25 22:45:50 | 2012-05-25 17:03:50 |          29          |
| 283af64b-5b12-f971-6129-f638491a4a5b |  Mr. Olin642 Kerluke267  | 2015-03-21 04:19:20 | 2015-04-19 17:26:20 |          29          |
| 283af64b-5b12-f971-6129-f638491a4a5b |  Mr. Olin642 Kerluke267  | 2016-09-08 17:58:20 | 2016-10-07 18:01:20 |          29          |
| 283af64b-5b12-f971-6129-f638491a4a5b |  Mr. Olin642 Kerluke267  | 2017-02-18 13:49:20 | 2017-03-20 00:14:20 |          29          |
| 283af64b-5b12-f971-6129-f638491a4a5b |  Mr. Olin642 Kerluke267  | 2014-09-16 10:27:20 | 2014-10-15 15:18:20 |          29          |
| 49bc1d54-ed70-7ec5-02cb-76c178292427 | Mr. Kurtis994 Bartell116 | 2012-03-26 01:07:50 | 2012-04-24 22:45:50 |          29          |
+--------------------------------------+--------------------------+---------------------+---------------------+----------------------+

### 3c. The patients with the most readmissions.

In [18]:
%%sql
WITH ordered_encounters AS (
    SELECT 
        e.patient,
        e.start,
        e.stop,
        LAG(e.stop) OVER (PARTITION BY e.patient ORDER BY e.start) AS prev_stop
    FROM encounters e
    WHERE e.ENCOUNTERCLASS = 'inpatient'
),
readmissions AS (
    SELECT 
        patient,
        start,
        prev_stop,
        TIMESTAMPDIFF(DAY, prev_stop, start) AS days_since_discharge
    FROM ordered_encounters
    WHERE prev_stop IS NOT NULL
      AND TIMESTAMPDIFF(DAY, prev_stop, start) <= 30
)
SELECT 
    r.patient as patient_id,
	CONCAT(p.prefix, " ", p.`first`," ", p.`last`) AS patient_full_name,
    -- p.name AS patient_name,
    COUNT(*) AS readmission_count,
    MIN(r.start) AS first_readmission,
    MAX(r.start) AS last_readmission
FROM readmissions r
JOIN patients p ON r.patient = p.id 
GROUP BY r.patient, patient_full_name
ORDER BY readmission_count DESC, patient_full_name
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/hospital_db'

10 rows affected.

+--------------------------------------+-------------------------------+-------------------+---------------------+---------------------+
|              patient_id              |       patient_full_name       | readmission_count |  first_readmission  |   last_readmission  |
+--------------------------------------+-------------------------------+-------------------+---------------------+---------------------+
| a80b1160-93f0-db7e-9f23-04ea6fdddfaf |   Mr. Abraham100 Ruecker817   |         52        | 2011-02-13 23:31:18 | 2014-07-14 19:02:18 |
| 54889029-0a1e-0b75-5980-1c091dd4bc0e | Mrs. Sharolyn456 Halvorson124 |         50        | 2018-07-25 10:20:40 | 2019-08-09 03:25:03 |
| 0226f105-2572-1c6f-15f0-1aa0438e40d0 |    Mrs. Phylis163 Block661    |         43        | 2013-10-31 18:38:09 | 2021-07-08 17:30:49 |
| 12f0d3df-7ea9-3005-ea7e-a4c829536a12 |    Mrs. Rivka589 Schumm995    |         42        | 2016-11-03 15:36:06 | 2020-10-09 07:57:23 |
| a96d5031-46d5-e3f6-ec67-81f8edd48aa8 |    Mrs. Spring819 Crooks415   |         39        | 2017-10-11 09:51:26 | 2021-09-10 00:30:49 |
| 40fd8032-aff7-ec24-bffa-66a09cb2c77d |    Ms. Vernica383 Prieto999   |         35        | 2019-02-24 01:38:07 | 2019-04-15 00:24:23 |
| 905d0433-9ca3-4883-cbd4-3df36fd5f1c6 |    Mr. Raleigh478 Frami345    |         32        | 2013-09-24 11:55:28 | 2019-01-21 13:22:28 |
| 7412b008-76f9-b713-c514-2a5d82e3b39e |  Mrs. Alexandria361 Heaney114 |         29        | 2015-01-25 04:19:33 | 2019-08-01 06:37:33 |
| e7eaf3df-a981-d555-12d6-fdd50fa2631e |   Mr. Maurice742 Hermiston71  |         25        | 2014-04-13 11:06:23 | 2017-12-02 18:25:23 |
| 283af64b-5b12-f971-6129-f638491a4a5b |     Mr. Olin642 Kerluke267    |         18        | 2014-10-15 15:18:20 | 2017-05-21 21:21:20 |
+--------------------------------------+-------------------------------+-------------------+---------------------+---------------------+